@model NBuilderWebsite.Models.ContactEntry

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
    
<form method="post" id="myform">
        
    <p>Please get in touch</p>
        
    <div class="form-item">
        <div class="label"><label for="entry.name">Name:</label></div>
        <div class="field">
            @Html.ValidationMessage("entry.Name")
            @Html.TextBox("entry.Name")
        </div>
    </div>
        
    <div class="form-item">
        <div class="label"><label for="entry.EmailAddress">Email address:</label></div>
        <div class="field">
            @Html.ValidationMessage("entry.EmailAddress")
            @Html.TextBox("entry.EmailAddress")
        </div>
    </div>
        
    <div class="form-item">
        <div class="label"><label for="entry.message">Message:</label></div>
        <div class="field">
            @Html.ValidationMessage("entry.Message")
            @Html.TextArea("entry.Message")
        </div>
    </div>
        
    <input type="submit" value="Send" class="button" />


    
</form>